<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
    <script>
      var status = '<%- JSON.stringify(status) %>';

      if (JSON.parse(status) == "verified") {
        if (confirm("Bạn có muốn đến trang đăng nhập?")) {
          window.location.href = "http://localhost:3000/login";
        }
      }
    </script>
    <script>
      let checkPass = false;
      let checkConfirmPass = false;

      function checkPassword() {
        let x = document.getElementById("password").value;
        let y = document.getElementById("confirm-password").value;
        let z = document.getElementById("warningPass");
        let content = ""
        if(x=="") {
            checkPass = false;
            z.style.display = 'block';
            content = ""
          }
          else if (x.length < 6) {
          checkPass = false;
          z.style.display = 'block';
          content = "Mật khẩu phải có ít nhất 6 ký tự"
          }
          else if(y=="")
          {
            checkPass = false;
            z.style.display = 'block';
            content = ""
          }
          else if(x!==y)
          {
            checkPass = false;
            z.style.display = 'block';
            content = "Mật khẩu không trùng khớp"
          }
        else {
          checkPass = true;
          content = ""
        }
        handleButton();
        document.getElementById("warningPass").innerHTML = content;
      }

      function checkConfirmPassword() {
        let x = document.getElementById("password").value;
        let y = document.getElementById("confirm-password").value;
        let z = document.getElementById("warningPass");
        let text = ""
         if(y=="") {
          checkConfirmPass = false;
          text = ""
          handleButton();
          }
        else if (x!==y) {
          checkConfirmPass = false;
          text = "Mật khẩu không trùng khớp";
        }
         else {
          checkConfirmPass = true;
          checkPass = true;
          z.style.display = 'none';
          // z.removeChild();
          text = "";
        }
        handleButton();
        document.getElementById("warningConfirmPass").innerHTML = text;
      }
      function logg() {
        alert("Vui lòng kiểm tra lại thông tin đã nhập")
      }
      </script>
  </head>
  <body>
    <div class="col-md-4 col-md-offset-4" id="login">
      <section id="inner-wrapper" class="login">
        <article>
            <img class="logoShop" alt='hình ảnh' src="/images/logo2.png"/>
            <h3 class="headcContent">Nhập lại mật khẩu cho email <%= email%></h3>
              <form action="" method="post">
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                          <input 
                            type="password" class="form-control"
                            name="password"
                            id="password"
                            placeholder="Nhập mật khẩu mới"
                            onchange="checkPassword()"
                          />
                      </div>
                      <p class="warning" id="warningPass"></p>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                          <input
                            type="password" class="form-control"
                            name="confirm-password"
                            id="confirm-password"
                            placeholder="Nhập lại mật khẩu"
                            onchange="checkConfirmPassword()"
                          />
                        </div>
                      </div>
                      <p class="warning" id="warningConfirmPass"></p>
                      <button id="xn" type="submit" class="btn btn-success btn-block" >Xác nhận</button>
              </form>
                      <button id="xn1" class="btn btn-success btn-block" onclick={logg()}>Xác nhận</button>
          </article>
      </section>
  </div>
  <script>
      let  handleButton = () => {
        let element = document.getElementById("xn");
        let hidden = element.getAttribute("hidden");

        let buttonTemp = document.getElementById("xn1");
        let hiddenButtonTemp = element.getAttribute("hidden");
        if(checkConfirmPass === true && checkPass === true)
        {
          buttonTemp.setAttribute("hidden", "hiddenButtonTemp");
          element.removeAttribute("hidden");
        }
         else {
          buttonTemp.removeAttribute("hidden");
          element.setAttribute("hidden", "hidden");
      }
      }
      let  startButton = () => {
        let element = document.getElementById("xn");
        let hidden = element.getAttribute("hidden");
          
        element.setAttribute("hidden", "hidden");
      }
      startButton();
  </script>
  </body>
</html>
