.modal1 {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    /* display: flex; */
}